body,html {
  background: url('../images/musicbackground.png') ;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

ul{
  list-style: none;
}

.header {
  font-size: 2em;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Oswald', sans-serif;

}

.instructions{
  font-size: 1.2em;
  font-weight: bold;
}

.drummers {
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#drums {
  max-width: 350px;
}

.drummer-list {
  font-size: 2em;
  margin-left: 0px;
  margin-top: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
}


.fa-music,
.fa-heart {
  color: black;
}

.action {
  margin-top: 10px;
}

.directions {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  color: black;
}


.keys {
  font-family: 'Merriweather', serif;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 10px;
  align-items: center;
  justify-content: center;

}

.key {
  font-family: 'Merriweather', serif;
  flex-wrap: wrap;
  margin-top: 0px;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.footer {
  margin-top: 15px;
  font-family: 'Merriweather', serif;
  color: white;
  text-align: right;
  font-size: 18px;
}

.playing {
  transform: scale(1.1);
  border-color: white;
  box-shadow: 0 0 1rem white;
}

kbd {
  font-family: 'Oswald', sans-serif;
  display: block;
  font-size: 3em;
  line-height: 2em;
  background-color: black;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}
