/* Coolors Exported Palette - coolors.co/6369d1-bdfffd-2a628f-3cdbd3-dffdff */

/* HSL */
$color1: hsla(237, 54%, 60%, 1);
$color2: hsla(178, 100%, 87%, 1);
$color3: hsla(207, 55%, 36%, 1);
$color4: hsla(177, 69%, 55%, 1);
$color5: hsla(184, 100%, 94%, 1);
$color6: hsla(0, 0%, 100%, 1);

/* RGB 
$color1: rgba(99, 105, 209, 1);
$color2: rgba(189, 255, 253, 1);
$color3: rgba(42, 98, 143, 1);
$color4: rgba(60, 219, 211, 1);
$color5: rgba(223, 253, 255, 1);
*/