/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import 'palette';

body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: $color3;
    margin: 0;
    padding: 0;
}

header {
    min-height: 200px;
    padding: 10px;
    background-color: $color1;
}

section {
    padding: 10px;
}

section:nth-child(even) {
    background-color: $color1;
    color: $color3;
}

section:nth-child(odd) {
    background-color: $color1;
}

a {
    text-decoration: none;
    color: $color1;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.sites {
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;

    .siteWrapper {
        width: 100px;
        height: 100px;
        list-style-type: none;
        background-color: $color4;
        padding: 20px;
        margin: 5px;
        position: relative;
        transition: all 0.5s;
    
        .site {
            height: 100px;
            width: 100px;
            top: 40%;
            text-align: center;
            position: absolute;
        }
        &.notDone{
            background-color: $color3;
        }

        &:hover{
            transform: scale(1.1);
            border-radius: 10px;
        }
    }
}