/* colors */

@import 'palette';

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Quicksand:400,700');
body {
    font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: $color3;
    margin: 0;
    padding: 0;
}

header {
    min-height: 200px;
    padding: 2%;
    background-color: $color1;
    border-bottom: solid 1px $color2;
    margin: 2% auto;
    width: 80%;
    box-shadow: 4px 4px 4px indigo;
}

section:nth-child(even) {
    background-color: $color1;
    color: $color3;
}

section:nth-child(odd) {
    background-color: $color1;
}

a {
    text-decoration: none;
    color: $color1;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    h3 {
        font-size: 2em;
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }
    .divider {
        width: 20%;
    }
}

.sites {
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    .siteWrapper {
        width: 100px;
        height: 100px;
        list-style-type: none;
        background-color: $color4;
        padding: 20px;
        margin: 5px;
        position: relative;
        transition: all 0.5s;
        .site {
            height: 100px;
            width: 100px;
            top: 40%;
            text-align: center;
            position: absolute;
        }
        &.notDone {
            background-color: $color3;
        }
        &:hover {
            transform: scale(1.1);
            border-radius: 10px;
        }
    }
}