/* Coolors Exported Palette - coolors.co/f4f7f9-ef4438-488fcc-235789-c1292e */

/* RGB */
$color1: rgba(244, 247, 249, 1);
$color2: rgba(149, 128, 172, 1);
$color3: rgba(100, 46, 155, 1);
$color4: rgba(103,0,211,1);
$color5: rgba(159, 101, 219, 1);