body{
	font-family: 'arial', 'sans-serif';
	color: #fff;
	background: rgba( 88, 42,114,1);
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
		max-width: 800px;
}
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

  .bg-3 { 
      background-color: #dddddd; /* White */
      color: #555555;
  }

.mainImage{
	width: 20%;
	height: 20%;
	border-radius: 50%;
}

ul{
	list-style: none;
}

h3{
	padding: 10px;
}