/* color palette */
$htmlColor: #e34f26;
$cssColor: #0d84ce;
$jsColor: #f0e040;
$nodeColor: #83cd29;
$bgColor: #ffffff;
$chartColor: #999;
$circleBorder: #f0f0f0;
$strokeColor: #333;

/* svg variables */
$topPosition: 267%;
$percent100: $topPosition * 0;
$percent85: $topPosition * (1 - .85);
$percent75: $topPosition * (1 - .75);
$percent50: $topPosition * (1 - .50);
$percent25: $topPosition * (1 - .25);

/* Import the Google Font 'Noto Sans' */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* Container styles */
body {
  background-color: $bgColor;
  color: $strokeColor;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  padding: 50px 0;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  color: $chartColor;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid $circleBorder;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: $bgColor;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: $htmlColor;
}
 
.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: $cssColor;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: $jsColor;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: $nodeColor;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: $strokeColor;
  stroke-width: 20;
  stroke-dasharray: $topPosition; //Starts at top
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: $topPosition !important; //moves back to top
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: $percent100;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='85'] .outer {
  stroke-dashoffset: $percent85;
  -webkit-animation: show85 2s;
  animation: show85 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: $percent75;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: $percent50;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: $percent25;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent100;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent100;
  }
}


@-webkit-keyframes show85 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent85;
  }
}

@keyframes show85 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent85;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent75;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent75;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent50;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent50;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent25;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: $topPosition;
  }
  
  to {
    stroke-dashoffset: $percent25;
  }
}
/* END Keyframes for the initial animation */